<html>
    <head>
        <script src="angular.js"></script>
    </head>

    <body ng-app="employeeModel">
        
        <script>
             angular.module("employeeModel",[])
                    .controller('employeeController',['$scope', function($scope) {
                        $scope.employee = {
                            name : "Mandar",
                            salary : 30000,
                            email : "mandar258@gmail.com"
                        }
                    }])
        </script>

        <section ng-controller="employeeController">
            
            <label>name :- </label> <input type="text" ng-model="employee.name"><br>
            <label>salary :- </label> <input type="text" ng-model="employee.salary"><br>
            <label>email :- </label> <input type="text" ng-model="employee.email"><br>

            <label>name :- {{employee.name}}</label><br>
            <label>salary :- {{employee.salary}}</label><br>
            <label>email :- {{employee.email}}</label><br>
        </section>
    </body>
</html>